<main>
    <div class="caja">
        <div class="formulario">
            <h2>Formulario de creación de noticias</h2>
            <label for="titulo">Introduce el título de la noticia</label>
            <input type="text" class="titulo-form" id="titulo" [(ngModel)]="titulo">
            <label for="cuerpo">Introduce el contenido principal de la noticia</label>
            <textarea class="cuerpo-form" id="cuerpo" cols="30" rows="8" [(ngModel)]="cuerpo"></textarea>
            <button (click)="guardarNoticia()" class="btn-form">PUBLICAR</button>
        </div>
        <hr>
        <section class="publicaciones">
            <h2 class="publicaciones-title">Publicaciones creadas</h2>
            <ul [innerHTML]="content">
                <!-- Carga de contenido mediante blog.components.ts -->
                
            </ul>
        </section>
    </div>
</main>